<h1>Sign Up!</h1>

<div class="container">
  <%= form_for [@user] do |f| %>

    <% if f.object.errors.any? %>
      <div class="alert alert-danger">
        <strong>The following errors prevented saving:</strong>
        <ul>
          <% f.object.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= render 'reg_form', f: f %>

  <% end %>
</div>
